html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.background {
    background-size: cover;
    background: url('../img/blured_background.jpg') no-repeat center center;
}

@media (max-width: 993px) {
    nav.navbar {
        background: #c4c3d3;
    }
}

h1 {
    letter-spacing: 8px;
    font-size: 75px;
    font-weight: 100;
}

h5 {
    letter-spacing: 3px;
}

.top-buffer { margin-top:20px; }

.hr-white-lg {
    border-top: 3px solid #fff;
    width: 300px;
}

.hr-white-sm {
    border-top: 3px solid #fff;
    width: 200px;
}


.my-icon {
    font-size: 3em;
}
